<div class="d-flex p-2 border border-black">
    <div class="col-2">
        <svg width="64" height="64" viewBox="0 0 181 181" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="90.5" cy="90.5" r="90.5" fill="#251FA5"/>
        </svg>
        <input class="form-control m-1" value="5" type="number" style="width: 70px">
    </div>
    <div>
        <h5><a class="a" href="{% url 'question:is' id=question.id %}">{{ question.title }}</a></h5>
        <p>{{ question.body|truncatewords:10 }}</p>
        <section class="d-flex gap-3">
            <a class="a">answer (3)</a>
            <div class="d-flex gap-1">
                <h6>Tags:</h6>
                <div class="d-flex gap-1">
                    {% for tag in question.tags.all %}
                        <a href="{% url 'question:tag' tag=tag %}" class="a">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>