{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style rel="stylesheet"></style>
    <title>{% block title %} Knowledge Base {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid justify-content-between">
                <section class="d-flex">
                    <a class="navbar-brand" href="{% url 'question:main' %}">Knowledge Base</a>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="basic-addon1"><img src="{% static 'question/ico/search.svg' %}" alt="Search"></span>
                        <input type="text" class="navbar-brand border border-1" placeholder="Search">
                    </div>
                    <a class="btn btn-outline-success" href="{% url 'question:ask' %}">Ask</a>
                </section>
                <section class="d-flex gap-3 align-items-center px-2">
                    {% if user.is_authenticated %}
                        <svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="22" cy="21.5" rx="22" ry="21.5" fill="#EAD624"/>
                        </svg>
                        <a class="nav-link text-nowrap" href="{% url 'core:logout' %}">Log Out</a>
                        <a class="nav-link text-nowrap" href="{% url 'core:settings' %}">Settings</a>
                    {% else %}
                        <a class="nav-link active text-nowrap" aria-current="page" href="{% url 'core:login' %}">Log In</a>
                        <a class="nav-link active text-nowrap" aria-current="page" href="{% url 'core:register' %}">Register</a>
                    {% endif %}
                </section>
            </div>
        </nav>
    </header>
    <main class="min-vh-100">
        <div class="d-flex flex-column flex-md-row container-fluid p-3 row">
            <section class="d-flex flex-column gap-3 mb-4 col-12 col-md-8">
                {% block main %}
                    
                {% endblock %}
            </section>
            <aside class="d-flex flex-column gap-3 pt-4 pr-0 col-12 col-md-4">
                <section>
                    <h4>Popular Tags</h4>
                    <div class="">
                        <a>Django</a>
                        <a>MySql</a>
                        <a>JavaScript</a>
                        <a>CSS</a>
                        <a>HTML</a>
                        <a>Bootstrap</a>
                    </div>
                </section>
                <section>
                    <h4>Best Members</h4>
                    <div class="d-flex flex-column gap-1">
                        <a class="a">Superman</a>
                        <a class="a">Krytoi228</a>
                        <a class="a">YaLublyTechnopark</a>
                    </div>
                </section>
            </aside>
        </div>
    </main>
    <footer class="footer mt-3">
        <div class="d-flex justify-content-center container-fluid bg-dark text-white p-2">
          &copy; 2024 All rights reserved.
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>